<article class="max-w-5xl mx-auto">
    
    <div class="content">
        {{ bard_field }}
    </div>

</article>

<style>
    .hero-heading {
        color: blue;
    }
    .introduction {
        color: green;
    }
    .action {
        background: pink;
    }
    .action {
        background: pink;
    }
    .content > .paragraph {
        color: red;
    }
    .square-list {
        list-style-type: square !important;
    }
    .roman-list {
        list-style-type: upper-roman !important;
    }
    .two-columns {
        column-count: 2; column-gap: 1em;
    }
    .two-columns > * {
        margin-bottom: 1rem;
    }
</style>