/* This is all you. */

#statamic1 {
    .publish-tab-wrapper .publish-fields {
        position: fixed;
        inset: 0;
        z-index: 1;
        background: white;
        display: flex;
        .form-group:not(:nth-child(3)) {
            display: none;
        }
        .form-group {
            padding: 0;
            width: calc((1202px / 125) * 100) !important;
            height: calc((802px / 125) * 100) !important;
            border: 1px solid red;
            margin: auto;
            display: flex;
            .field-inner {
                display: none;
            }
            > div {
                width: 801px;
                margin: auto;
                .ProseMirror {
                    height: 401px;
                    overflow: auto;
                }
            }
        }
    }
}

// zoom 125%